VQA Old Projects/vqa-winner-cvprw-2017-master/__pycache__/model.cpython-36.pyc
VQA Old Projects/vqa-winner-cvprw-2017-master/__pycache__/data_loader.cpython-36.pyc
VQA Old Projects/vqa-winner-cvprw-2017-master/__pycache__/utils.cpython-36.pyc
VQA Old Projects/vqa-winner-cvprw-2017-master/log/console.log
VQA Old Projects/vqa-winner-cvprw-2017-master/data/glove/glove.6B.50d.txt
VQA Old Projects/vqa-winner-cvprw-2017-master/data/dict_ans.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/data/dict_q.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/data/glove_pretrained_300.npy
VQA Old Projects/vqa-winner-cvprw-2017-master/data/train_qa.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/data/v2_OpenEnded_mscoco_train2014_questions.json
VQA Old Projects/vqa-winner-cvprw-2017-master/data/v2_OpenEnded_mscoco_val2014_questions.json
VQA Old Projects/vqa-winner-cvprw-2017-master/data/v2_mscoco_train2014_annotations.json
VQA Old Projects/vqa-winner-cvprw-2017-master/data/v2_mscoco_val2014_annotations.json
VQA Old Projects/vqa-winner-cvprw-2017-master/data/val_qa.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/data/glove/glove.6B.100d.txt
VQA Old Projects/vqa-winner-cvprw-2017-master/data/glove/glove.6B.200d.txt
VQA Old Projects/vqa-winner-cvprw-2017-master/data/glove/glove.6B.300d.txt
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/greek.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/README
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/czech.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/danish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/dutch.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/english.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/estonian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/finnish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/french.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/german.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/greek.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/italian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/norwegian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/polish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/portuguese.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/slovene.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/spanish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/swedish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/turkish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/README
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/czech.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/danish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/dutch.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/english.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/estonian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/finnish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/french.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/german.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/v2_Questions_Val_mscoco.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/italian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/norwegian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/polish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/portuguese.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/slovene.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/spanish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/swedish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/turkish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/glove.6B.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/trainval_36.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/v2_Annotations_Train_mscoco.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/v2_Annotations_Val_mscoco.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/v2_Questions_Train_mscoco.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/trainval_resnet101_faster_rcnn_genome_36.tsv
VQA Old Projects/vqa-winner-cvprw-2017-master/data/trainval_resnet101_faster_rcnn_genome_36_25.tsv
VQA Old Projects/vqa-winner-cvprw-2017-master/data/val_vfeats.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/data/train_vfeats.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/__pycache__/main.cpython-36.pyc
VQA Old Projects/vqa-winner-cvprw-2017-master/.vscode/launch.json
VQA Old Projects/vqa-winner-cvprw-2017-master/.ipynb_checkpoints/preproc-checkpoint.ipynb
VQA Old Projects/vqa-winner-cvprw-2017-master/data/trainval_resnet101_faster_rcnn_genome_36_1.tsv
VQA Old Projects/vqa-winner-cvprw-2017-master/data/trainval_resnet101_faster_rcnn_genome_36_2.tsv
VQA Old Projects/vqa-winner-cvprw-2017-master/data/trainval_resnet101_faster_rcnn_genome_36_3.tsv
VQA Old Projects/vqa-winner-cvprw-2017-master/.vscode/settings.json
