VQA Old Projects/vqa-winner-cvprw-2017-master/__pycache__/model.cpython-36.pyc
VQA Old Projects/vqa-winner-cvprw-2017-master/__pycache__/data_loader.cpython-36.pyc
VQA Old Projects/vqa-winner-cvprw-2017-master/__pycache__/utils.cpython-36.pyc
VQA Old Projects/vqa-winner-cvprw-2017-master/log/console.log
VQA Old Projects/vqa-winner-cvprw-2017-master/data/glove/glove.6B.50d.txt
VQA Old Projects/vqa-winner-cvprw-2017-master/data/dict_ans.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/data/dict_q.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/data/glove_pretrained_300.npy
VQA Old Projects/vqa-winner-cvprw-2017-master/data/train_qa.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/data/v2_OpenEnded_mscoco_train2014_questions.json
VQA Old Projects/vqa-winner-cvprw-2017-master/data/v2_OpenEnded_mscoco_val2014_questions.json
VQA Old Projects/vqa-winner-cvprw-2017-master/data/v2_mscoco_train2014_annotations.json
VQA Old Projects/vqa-winner-cvprw-2017-master/data/v2_mscoco_val2014_annotations.json
VQA Old Projects/vqa-winner-cvprw-2017-master/data/val_qa.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/data/glove/glove.6B.100d.txt
VQA Old Projects/vqa-winner-cvprw-2017-master/data/glove/glove.6B.200d.txt
VQA Old Projects/vqa-winner-cvprw-2017-master/data/glove/glove.6B.300d.txt
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/greek.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/README
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/czech.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/danish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/dutch.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/english.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/estonian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/finnish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/french.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/german.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/greek.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/italian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/norwegian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/polish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/portuguese.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/slovene.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/spanish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/swedish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/turkish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/README
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/czech.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/danish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/dutch.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/english.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/estonian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/finnish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/french.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/german.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/v2_Questions_Val_mscoco.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/italian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/norwegian.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/polish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/portuguese.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/slovene.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/spanish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/swedish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/tokenizers/punkt/PY3/turkish.pickle
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/glove.6B.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/trainval_36.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/v2_Annotations_Train_mscoco.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/v2_Annotations_Val_mscoco.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/zips/v2_Questions_Train_mscoco.zip
VQA Old Projects/vqa-winner-cvprw-2017-master/data/trainval_resnet101_faster_rcnn_genome_36.tsv
VQA Old Projects/vqa-winner-cvprw-2017-master/data/trainval_resnet101_faster_rcnn_genome_36_25.tsv
VQA Old Projects/vqa-winner-cvprw-2017-master/data/val_vfeats.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/data/train_vfeats.pkl
VQA Old Projects/vqa-winner-cvprw-2017-master/__pycache__/main.cpython-36.pyc
VQA Old Projects/vqa-winner-cvprw-2017-master/.vscode/launch.json
VQA Old Projects/vqa-winner-cvprw-2017-master/.ipynb_checkpoints/preproc-checkpoint.ipynb
VQA Old Projects/vqa-winner-cvprw-2017-master/data/trainval_resnet101_faster_rcnn_genome_36_1.tsv
VQA Old Projects/vqa-winner-cvprw-2017-master/data/trainval_resnet101_faster_rcnn_genome_36_2.tsv
VQA Old Projects/vqa-winner-cvprw-2017-master/data/trainval_resnet101_faster_rcnn_genome_36_3.tsv
VQA Old Projects/vqa-winner-cvprw-2017-master/.vscode/settings.json
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_7.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/accuracy_eval.png
VQA Old Projects/vqa-winner-cvprw-2017-master/log/accuracy_train.png
VQA Old Projects/vqa-winner-cvprw-2017-master/log/best.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/loss_eval.png
VQA Old Projects/vqa-winner-cvprw-2017-master/log/loss_train.png
VQA Old Projects/vqa-winner-cvprw-2017-master/log/stats_eval.csv
VQA Old Projects/vqa-winner-cvprw-2017-master/log/stats_train.csv
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_0.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_1.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_10.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_100.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_101.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_102.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_103.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_104.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_105.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_11.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_12.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_13.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_14.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_15.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_16.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_17.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_18.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_19.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_2.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_20.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_21.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_22.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_23.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_24.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_25.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_26.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_27.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_28.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_29.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_3.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_30.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_31.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_32.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_33.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_34.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_35.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_36.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_37.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_38.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_39.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_4.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_40.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_41.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_42.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_43.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_44.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_45.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_46.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_47.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_48.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_49.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_5.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_50.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_51.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_52.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_53.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_54.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_55.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_56.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_57.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_58.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_59.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_6.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_60.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_61.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_62.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_63.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_64.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_65.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_66.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_67.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_68.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_69.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_70.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_71.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_72.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_73.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_74.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_75.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_76.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_77.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_78.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_79.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_8.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_80.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_81.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_82.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_83.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_84.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_85.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_86.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_87.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_88.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_89.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_9.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_90.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_91.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_92.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_93.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_94.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_95.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_96.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_97.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_98.pth.tar
VQA Old Projects/vqa-winner-cvprw-2017-master/log/ckpts/model_99.pth.tar
